@import "tailwindcss";

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 42, 42, 0.692); /* Isko 0.4 se 0.5 ya 0.6 karo */
  z-index: 1;
}


html {
      scroll-behavior: smooth;
    }