@import "tailwindcss";

header::before {
  content: '';
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 40, 40, 0.542); 
  z-index: 1;
}


html {
      scroll-behavior: smooth;
    }